<div class="fullPage" id="fullPage">

  <div ng-include='"templates/header.html" '></div>
  <div class="alt-landing">
    <div class="headliner">
      <h2 class="animated slideInDown">Hi there, I'm <span> Andie.</span> Find me where</h2>
      <h1><span class="animated slideInLeft">DESIGN </span><span class="animated slideInRight" id="plus"> + </span><span class="animated slideInRight"> CODE </span></h1>
      <h2 class="animated slideInUp"><span>collide.</span></h2>
    </div>
  </div>
  <div class="landing" style="display:none;">
    <img src="img/landing-nolayer.png" alt="landing" id="landing" class="animated fadeIn" >
    <img src="img/landing-mobile.png" alt="landing" id="landing-mobile" class="animated fadeIn">
  </div>
</div>


<div class="about" id="about">
  <div class="container">
    <h1 class="animated fadeIn">ABOUT.</h1>
    <p id="about-para">I want to empower users with intuitive, enjoyable
interfaces and products that will impact their daily lives.
A recent graduate from UC San Diego, I studied the cognitive functions of the brain, human behavior,
and several programming languages, providing me with a diverse
set of skills. Explore my <span class="yellow">left</span> and
<span class="yellow">right</span> brain to see my <span class="yellow">logical</span> and
<span class="yellow">creative</span> skills and experience.</p>
  </div>
  <div class="about-brain">
    <img src="img/braindiagram.png" alt="skills" id="braindiagram">
    <img src="img/braindiagram-mobile.png" alt="skills" id="braindiagram-mobile">
  </div>
  <a ng-href="Resume.pdf"><button id="resume-button" class="animated fadeIn button">View full resume</button></a>
</div>
<div class="work" id="work">
  <div class="container">
    <h1>WORK.</h1>
    <div class="work-container">
      <img src="img/fromdesign.png" alt="from design to implementation" id="fromdesign">

      <div class="project-container" ng-controller="PageCtrl" ng-repeat="project in projects">
        <div class="tag" ng-repeat="x in project.hashtags"><p>{{x}}</p></div>
        <div class="project" id="bpa">
          <img ng-src="{{project.mainImg}}" alt="project">
          <div class="description">
            <h4>{{project.heading}} - {{project.subheading}}</h4><a ng-click="projectUrl()" ng-show={{project.hasProjectURL}} title="Launch Website"><img src="img/link.png" alt="linkto"></a>
            <p>{{project.mainDescription}}</p>
            <div class="project-button">
              <!-- <button class="github" ng-show="{{project.hasGithubURL}}"><a ng-click="websiteUrl()" target="_blank">Website</a></button> -->
              <button class="design"><a ng-href="{{project.designURL}}">Design Process</a></button>
              <button class="github" ng-show="{{project.hasGithubURL}}"><a ng-click="githubUrl()" target="_blank">Github</a></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="contact" id="contact">
  <div class="container">
    <h1>CONTACT.</h1>
    <div class="contact-container">
      <div class="contact-tagline">
        <h3>Andriana (Andie) Romero</h3>
        <div class="contact-links">
          <a href="mailto:andriana@beltranfamily.com"><img src="img/gmail.png" alt="gmail"></a>
          <a ng-click="contactUrl('github')"><img src="img/github.png" alt="github"></a>
          <a ng-click="contactUrl('linkedin')"><img src="img/linkedin.png" alt="linkedin"></a>
        </div>
      </div>
    </div>
  </div>
</div>
