<div class="fullPage" id="fullPage">
  <h1 class="headliner animated fadeInUp">
    <span class="outerbox">
      <span class="innerbox"> Andriana  Romero </span>
    </span>
  </h1>
  <div class="bioLinks animated fadeInUp">
    <a href="mailto:andriana@beltranfamily.com"><img src="img/gmail.png" alt="gmail"/></a>
    <a href="https://github.com/andrianabeltran"><img src="img/git.png" alt="github"/></a>
    <a href="https://www.linkedin.com/in/andrianab"><img src="img/linkedin.png" alt="linkedin"/></a>
  </div>
</div>
<div class="fullPage2">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
</div>
