<div class="container" ng-controller="PageCtrl">

    <div class="row">

        <div class="col-lg-12">
            <h1 ng-model="heading" class="heading">{{project.heading}}
                <small ng-model="subheading">{{project.subheading}}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../">Home</a>
                </li>
                <li><a href="../" scrollToWork>Work</a>
                </li>
                <li><a href="../" ng-model="project.heading">{{project.heading}}</a>
                </li>
                <li class="active">Design Process</li>
            </ol>
        </div>

    </div>

    <div class="design-description" ng-repeat="x in project.designProcess">
      <h3>{{x.heading}}</h3>
      <p>{{x.description}}</p>
    </div>

    <hr>




</div>
