<div class="dp">
  <a href="../" class="home"><img src="img/left-blue.png" alt="home" class="home">Home</a>
  <!-- <div class="container"> -->

      <div class="row heading">

          <div class="col-lg-12">
              <h1 ng-model="heading" class="heading">{{project.heading}}
                  <br>
                  <small ng-model="subheading">{{project.subheading}}</small>
              </h1>
          </div>
      </div>
  <div class="design-content">
    <div class="container">
      <div class="container">
          <div class="row overview">
              <div class="col-sm-4 col-xs-12">
                <img ng-src="{{project.designImg}}" alt="project" id="designImg">
              </div>
              <div class="col-sm-8 col-xs-12">
                <h2>OVERVIEW</h2>
                <img src="img/right.png" alt="role"><h3>BRIEF: </h3><h4>{{project.brief}}</h4>
                <br>
                <img src="img/right.png" alt="role"><h3>ROLE:  </h3><h4>{{project.role}}</h4>
                <br>
                <img src="img/right.png" alt="role"><h3>TOOLS: </h3><h4>{{project.tools}}</h4>
                <br>
              </div>
          </div>
      </div>

      <hr>

      <div class="row summary">
        <div class="col-sm-6">
          <h2>PRODUCT DELIVERABLES<h2>
          <h4 ng-repeat="deliverable in project.deliverables"><img src="img/right.png" alt="role"><span>{{deliverable}}</span><br><br></h4>
        </div>
        <div class="col-sm-6">
          <h2>DESIGN GOALS<h2>
            <h4 ng-repeat="goal in project.goals"><img src="img/right.png" alt="role"><span>{{goal}}</span><br><br></h4>
        </div>
      </div>

      <hr>

      <div class="row content container">
          <div ng-repeat="x in project.designProcess">
            <h2>{{x.heading}}</h2>
            <p>{{x.paragraph}}</p>
            <img ng-src="{{x.img}}" alt="project" ng-hide="{{x.img}}">
            <div class="container">
              <div ng-repeat="y in x.subheadings">
                <h4>{{y.heading}}</h4>
                <img ng-src="{{y.img}}" alt="project" ng-hide="{{y.img}}">
                <p>{{y.paragraph}}</p>
              </div>
            </div>
            <hr>
          </div>
      </div>

      <embed src="ourucsd.pdf" width="100%" ng-if="project.projectID == 'ourucsd'" > </embed>


      <div>
        <h2>Other Work</h2>
        <div class="row">
          <!-- dont show the project if this is the current project's page using ng-if-->
          <div class=" col-md-4 col-sm-6 col-xs-12" ng-controller="PageCtrl" ng-repeat="proj in projects" ng-if="project.projectID != proj.projectID">
            <div class="project-container">
            <div class="tag" ng-repeat="x in proj.hashtags"><p>{{x}}</p></div>
            <div class="project">
              <img ng-src="{{proj.mainImg}}" alt="project">
              <div class="description">
                <h4>{{proj.heading}} - {{proj.subheading}}</h4><a title="Launch Website" ng-click="projectUrl()" ng-show={{proj.hasProjectURL}}><img src="img/link.png" alt="linkto"></a>
                <!-- <p>{{proj.mainDescription}}</p> -->
                <div class="project-button">
                  <!-- <button class="github" ng-show="{{project.hasGithubURL}}"><a ng-click="websiteUrl()" target="_blank">Website</a></button> -->
                  <button class="design"><a ng-href="{{proj.designURL}}">Design Process</a></button>
                  <button class="github" ng-show="{{proj.hasGithubURL}}"><a ng-click="githubUrl()" target="_blank">Github</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
